<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//Mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderDetailMapper">

    <insert id="insertBatch">
            insert into order_detail (name,image,order_id,dish_id,dish_flavor,amount,number,setmeal_id)
            values
                <foreach collection="orderDetailList" item="od" separator=",">
                    (#{od.name},#{od.image},#{od.orderId},#{od.dishId},
                     #{od.dishFlavor},#{od.amount},#{od.number},#{od.setmealId})
                </foreach>
    </insert>
    <select id="getByOrderIds" resultType="com.sky.entity.OrderDetail">
        select * from order_detail
        where order_id in
        <if test="orderIds != null and orderIds.size() > 0">
            <foreach collection="orderIds" item="orderId" open="(" separator="," close=")">
                #{orderId}
            </foreach>
        </if>
        <if test="orderIds == null or orderIds.size() == 0">
            (null)
        </if>
    </select>


</mapper>
